.container {
  margin: auto;
  background-color: bisque;
  border-style: groove;
}

.heading {
  border-style: border;
  margin: auto;
  width: 95%;
  background-color: gainsboro;
}

.navigation {
  margin: auto;
  width: 95%;
}

.navigation ul {
  list-style-type: none;
  margin: auto;
  padding: 5px;
}

.navigation li {
  margin: auto;
  display: inline;
  width: 200px;
  height: 200px;
  color: black;
}

.navigation button {
  position: relative;
  display: inline-block;
  color: black;
  padding: 7px;
}

.navigation button:hover {
  background-color: aliceblue;
  color: black;
}

.navigation li:active {
  background-color: aliceblue;
  textcolor: black;
}

.loginSection {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  padding: 10px;
}

.dropbtn {
  background-color: antiquewhite;
  color: black;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: aliceblue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: beige;
  min-width: 150px;
  z-index: 1;
}

.show {
  display:block;
}

.searchSection {
  border-style: groove;
  background-color: gainsboro;
  margin: auto;
  padding: 5px;
  width: 95%;
}

#siteheading {
  text-align: center;
}

#siteinfo {
  text-align: center;
}

.auctions img {
  width: 100px;
  height: 100px;
}

.auctionInfo img {
  width: 100px;
  height: 100px;
}

.footer {
  margin: auto;
  width: 80%;
  background-color: gainsboro;
}

.loginSection {
  align: right;
}

.viewBatches ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.viewBatches li {
  display: inline;
  width: 150px;
  height: 40px;
  background-color: antiquewhite;
  color: black;
}

#createAuction ul {
  list-style-type: none;
  margin: 0px;
}

.auctionInfo {
  margin: auto;
}

.modal fade {

}


