.container {
  margin: auto;
}

.heading {
  margin: auto;
  width: 80%;
  height: 15%;
  background-color: cornflowerblue;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline;
  width: 150px;
  height: 40px;
  background-color: antiquewhite;
  color: white;
}

.navigation li router-link:active {
  background-color: aliceblue;
  textcolor: black;
}

.dropbtn {
  background-color: antiquewhite;
  color: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: aliceblue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: antiquewhite;
  min-width: 150px;
  z-index: 1;
}

.show {
  display:block;
}

.searchSection {
  background-color: antiquewhite;
}

#siteheading {
  text-align: center;
}

.auctions img {
  width: 100px;
  height: 100px;
}

.auctionInfo img {
  width: 100px;
  height: 100px;
}

.footer {
  margin: auto;
  width: 80%;
  height: 15%;
  background-color: cornflowerblue;
}

.loginSection {
  margin: auto;
  align-content: right;
}

.viewBatches #button {
  display: inline-block;
}


